<%- include('../layout/header') %>

<body
  class="min-h-dvh bg-slate-800 text-slate-200 grid grid-cols-[auto_1fr]"
  style="font-family: 'Poppins', sans-serif"
>
  <!-- Sidebar -->
  <%- include('../layout/sidebar') %>
  <!-- Main COntent -->
  <main
    class="container h-auto w-auto flex-1 mx-4 my-6 flex items-center justify-center flex-col"
  >
  <div class="flex flex-row items-end w-auto mx-auto  max-w-5xl ">
    <!-- Button Add -->
   <button></button>
    <form action="/categories" method="POST" class="mb-6">
      <input type="text" name="name" placeholder="Nama Kategori"
             required class="text-black px-2 py-1 rounded">
      <button type="submit" class="bg-green-500 px-4 py-2 ml-2 rounded text-white">Tambah</button>
    </form>
    
  </div>
   
    <section class="shadow-md">

      <div class=" mx-auto max-w-6xl p-1">
       
       <!-- Table Category -->
       <div
       class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-5xl mx-auto"
     >
       <table
         class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
       >
         <thead
           class="text-xs text-gray-600 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-300 text-center"
         >
           <tr>
             <th scope="col" class="px-6 py-3">Category Name</th>
             <th scope="col" class="px-6 py-3">Create At</th>
             <th scope="col" class="px-6 py-3">
               <span class="sr-only">res</span>
             </th>
           </tr>
         </thead>
         <tbody>
           <% categories.forEach((category) => { %>
           <tr
             class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
           >
             <th
               scope="row"
               class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-100"
             >
               <%= category.name %>
             </th>
             <td class="px-6 py-4 text-gray-300"><%= category.createAt.toDateString() %></td>
             <td
               class="px-6 py-4 text-right flex flex-row items-center gap-4 justify-end"
             >
               <!-- Edit SVG -->
               <a
                 href="/expenses/update/<%= category._id%>"
                 class="font-medium text-blue-600 dark:text-blue-500 hover:underline fill-slate-500 hover:fill-green-500"
                 ><span class=""
                   ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     height="24px"
                     viewBox="0 -960 960 960"
                     width="24px"
                   >
                     <path
                       d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"
                     />
                   </svg> </span
               ></a>
               <!-- Delete SVG -->
               <a
                 href="/expenses/delete/<%= category._id%>"
                 class="font-medium text-blue-600 dark:text-blue-500 hover:underline fill-slate-500 hover:fill-red-400"
                 ><span class=""
                   ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     height="24px"
                     viewBox="0 -960 960 960"
                     width="24px"
                   >
                     <path
                       d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"
                     />
                   </svg> </span
               ></a>
             </td>
           </tr>
           <% }); %>
         </tbody>
       </table>
     </div>
      </div>
    </section>
  </main>
</body>

<%- include('../layout/footer') %>

<!-- <div class="flex flex-col">
  <div class="text-lg text-slate-200 text-center" id="judul">
    <p>Add Data</p>
  </div>
  <div
    class="max-w-[800px] bg-slate-700 rounded-2xl px-18 py-14 min-w-[600px]"
  >
    <form action="" method="post">
      <div class="flex flex-col pb-3 group relative">
        <label for="category" class="text-base group-focus-within:font-bold"
          >Category</label
        >
        <input
          type="text"
          name="category"
          id="category"
          class="outline-none border-none text-sm border border-slate-900 px-3 py-2 pl-0 bg-transparent focus:border-transparent"
          placeholder="Input yout product here"
          required
        />
        <span
          class="absolute left-0 bottom-3 h-[2px] w-0 bg-black transition-all duration-300 group-focus-within:w-full"
        ></span>
      </div>
      <div class="flex flex-col pb-3 group relative">
        <label for="date" class="text-base group-focus-within:font-bold"
          >Date</label
        >
        <input
          type="date"
          name="date"
          id="date"
          class="outline-none border-none text-sm border border-slate-900 px-3 py-2 pl-0 bg-transparent focus:border-transparent"
          placeholder="Input yout date here.."
          required
        />
        <span
          class="absolute left-0 bottom-3 h-[2px] w-0 bg-black transition-all duration-300 group-focus-within:w-full"
        ></span>
      </div>
      <div class="flex flex-col pb-3 group relative">
        <label for="price" class="text-base group-focus-within:font-bold"
          >Price</label
        >
        <input
          type="text"
          name="price"
          id="price"
          class="outline-none border-none text-sm border border-slate-900 px-3 py-2 pl-0 bg-transparent focus:border-transparent"
          placeholder="Input your Price here..."
          required
        />
        <span
          class="absolute left-0 bottom-3 h-[2px] w-0 bg-black transition-all duration-300 group-focus-within:w-full"
        ></span>
      </div>
      <div class="flex flex-col pb-3 group relative">
        <label for="desc" class="text-base group-focus-within:font-bold"
          >Desc</label
        >
        <input
          type="text"
          name="desc"
          id="desc"
          class="outline-none border-none text-sm border border-slate-900 px-3 py-2 pl-0 bg-transparent focus:border-transparent"
          placeholder="Input yout description"
          required
        />
        <span
          class="absolute left-0 bottom-3 h-[2px] w-0 bg-black transition-all duration-300 group-focus-within:w-full"
        ></span>
      </div>
    </form>
  </div>
</div> -->




